.launch-card {
    display: flex;
    flex-direction: row;
    padding: 20px;
    margin-top: 20px;
    border: 1px solid #faf9f9;
    border-radius: 3px;
    box-shadow: 0 4px 9px rgba(0, 0, 0, 0.3);
    transition: box-shadow, 0.3s;
}

.launch-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
