{% from "launch_card.html" import render_launch %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SpaceX Launches</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}"/>

</head>
<body>

    <div class="container">
        <h2>SpaceX launches</h2>
        Hello there, (yep star wars reference)
        heres something I made to keep track of all space x launches lols. just a weekend project. ;) <br>
        click on the tabs above to see the data about all successful, failed, and upcoming missions. <br><br>

        <ul class="nav nav-tabs">
            <li class="nav-item active">
                <a class="nav-link active" data-toggle="tab" href="#successful">Successful</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#failed">Failed</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#upcoming">Upcoming</a>
            </li>
        </ul>

        <div class="tab-content">
            <div id="successful" class="tab-pane container active">
                {% for launch in launches.successful%}
                    {{ render_launch(launch) }}
                {% endfor %}
            </div>
            <div id="failed" class="tab-pane container fade">
                {% for launch in launches.failed%}
                    {{ render_launch(launch) }}
                {% endfor %}
            </div>
            <div id="upcoming" class="tab-pane container fade">
                {% for launch in launches.upcoming%}
                    {{ render_launch(launch) }}
                {% endfor %}
            </div>
        </div>
    </div>  




</body>
</html>
